pandas==3.0.5
pyarrow==25.0.1
openpyxl==3.1.5
kagglehub==1.0.2
python-dotenv==1.2.3
python-calamine==0.8.2
matplotlib==3.11.1
scikit-learn==1.9.0
xgboost==3.4.1
pyarrow==25.0.1
tensorflow==2.21.0
mlflow-skinny==2.22.0
